<li class="cp" <%= (el) -> el.data( 'model', data ) %>>
	<div class="ur_name"><%= data.first_name %></div>
	<div class="ur_edit fr"></div>
	<div class="ur_delete fr"></div>
	<div class="cr"></div>
</li>