<section id="user_container">
	<header>
		<span class="uc">simple</span>
		<span class="cp flr fi">user management</span>
	</header>

	<%== can.view.render(window.user_path + 'user/view/user_form.ejs', {mode: 'create', data: {}}) %>

	<div class="user_list">
		<h2 class="cp fn">Users</h2>
	</div>
</section>