<!DOCTYPE html>

<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>CanJS Version Experiment</title>
</head>

<body>
	<section id="container">
		<ul id="nav"></ul>
		<div id="contents"></div>
	</section>
    <script type='text/javascript' src='steal/steal.js?main.js'></script>

</body>
</html>
